<%= form_with(model: match_set, local: true) do |form| %>
  <% if match_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match_set.errors.count, "error") %> prohibited this match_set from being saved:</h2>

      <ul>
      <% match_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :match_id %>
    <%= form.number_field :match_id, id: :match_set_match_id %>
  </div>

  <div class="field">
    <%= form.label :set_number %>
    <%= form.number_field :set_number, id: :match_set_set_number %>
  </div>

  <div class="field">
    <%= form.label :hosting_team_score %>
    <%= form.number_field :hosting_team_score, id: :match_set_hosting_team_score %>
  </div>

  <div class="field">
    <%= form.label :guest_team_score %>
    <%= form.number_field :guest_team_score, id: :match_set_guest_team_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
