<p id="notice"><%= notice %></p>

<h1>Match Sets</h1>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>Set number</th>
      <th>Hosting team score</th>
      <th>Guest team score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @match_sets.each do |match_set| %>
      <tr>
        <td><%= match_set.match_id %></td>
        <td><%= match_set.set_number %></td>
        <td><%= match_set.hosting_team_score %></td>
        <td><%= match_set.guest_team_score %></td>
        <td><%= link_to 'Show', match_set %></td>
        <td><%= link_to 'Edit', edit_match_set_path(match_set) %></td>
        <td><%= link_to 'Destroy', match_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match Set', new_match_set_path %>
